/libs/SLD/CREDITS.txt
/libs/SLD/INSTALL.txt
/libs/SLD/Makefile
/libs/SLD/README.txt
/libs/SLD/README-SDL.txt
/libs/SLD/WhatsNew.txt
/libs/SLD/BUGS.txt
/libs/SLD/COPYING.txt
/SLD_Tutorials/ipch
/SLD_Tutorials/Debug
/SLD_Tutorials/SLD2_tutorials/SLD2_tutorials.vcxproj.user
/SLD_Tutorials/SLD2_tutorials/Debug
/SLD_Tutorials/SLD2_tutorials.suo
/SLD_Tutorials/SLD2_tutorials.sdf
/SLD_Tutorials/SLD2_tutorials.opensdf
/Gridiron_RPG/Gridiron_RPG.suo
/Gridiron_RPG/Gridiron_RPG.opensdf
/Gridiron_RPG/Gridiron_RPG.sdf
/Gridiron_RPG/Debug
/Gridiron_RPG/ipch
/Gridiron_RPG/Gridiron_RPG/Gridiron_RPG.vcxproj.user
/Gridiron_RPG/Gridiron_RPG/Gridiron_RPG.sdf
/Gridiron_RPG/Gridiron_RPG/Debug
